body {
  margin: 0;
  background-color: #101010;
}

#loading-screen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-hint {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.loading-hint img {
  margin: 10px;
}

#login-form {
  position: fixed;
  display: flex;
  justify-content: center;
  margin-top: 70vh;
  width: 100vw;
}

input {
  width: 180px;
  padding: 8px;
  margin: 8px;
}

input[type=submit] {
  width: 80px;
}